  #arrow {
    position: absolute;
    top: 92vh;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: .2s all ease;
  }
  #arrow:hover, #arrow:active {
    animation-play-state: paused;
    cursor: pointer;
  }
  @keyframes bounce {
    0% {transform: translate(0%, 0%);}
    50% {transform: translate(0%, 50%);}
    100% {transform: translate(0%, 0%);}
  }